<html>
	<body>
		<center>
			<h1>添加用户</h1>
			<table>
			<form action="" method="post">
					<tr>
						<td><label for="txtname">请输入要添加的用户名：</label></td>
						<td><input type="text" id="txtname" name="add_username" placeholder="用户名" size="22" required="true"/></td>
					</tr>
					<tr>
						<td><label for="txtpswd">请输入对应的密码：</label></td>
						<td><input type="password" id="txtpswd1" name="add_password" placeholder="密码" size="22" required="true"/></td>
					</tr>
					<tr>
						<td colspan=2>
							<input type="submit" value="添加"/>
							<input type="reset" value="清除"/>
			</form>
							<a href="/usercontrol" mce_href="usercontrol"><input type="button" value="返回"></a>
						</td>
					</tr>
				</table>
		</center>
	</body>
</html>