<html>
	<body>
		<center>
			<h1 style="margin-top:90px;">修改管理员密码</h1>
			<table>
			<form action="" method="post">
					<tr>
						<td><label for="txtpswd">请输入新的密码：</label></td>
						<td><input type="password" id="txtpswd1" name="new_adminpassword" placeholder="第一次密码" size="22" required="true"/></td>
					</tr>
					<tr>
						<td><label for="txtpswd">请再次输入密码：</label></td>
						<td><input type="password" id="txtpswd2" name="new_adminpassword2" placeholder="第二次密码" size="22" required="true"/></td>
					</tr>
					<tr>
						<td colspan=2>
							<input type="submit" value="确认"/>
							<input type="reset" value="清除"/>
			</form>
							<a href="/backstage" mce_href="backstage"><input type="button" value="返回"></a>
						</td>
					</tr>
				</table>
		</center>
	</body>
</html>