<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <br style="background-color: darkgoldenrod;color:black;">time={{data.time}}</br>
        <br style="background-color: darkgoldenrod;color:black;">cpu={{data.cpu}}</br>
        <br style="background-color: darkgoldenrod;color:black;">disk={{data.disk}}</br>
        <br style="background-color: darkgoldenrod;color:black;">memory={{data.memory}}</br>
        <br style="background-color: darkgoldenrod;color:black;">network={{data.network}}</br>
    </div>
</body>
</html>