{% extends 'layout.html' %}
{% block body %}
  <ul class=entries>
  
    <table border="2" bordercolor="grey" cellspacing="0" cellpadding="5" align="center">  
    {% for entry in entries %}
        <tr>  
            <td colspan="3"><a href={{entry.url}}>{{entry.title}}</td> 
        </tr>  
        <tr>  
            <td>回复数：{{entry.com}}</td>  
            <td>作者：{{entry.user}}</td>  
            <td>标签：{{entry.tag}}</td>  
        </tr>  
    {% endfor %}
    </table>  
    
  </ul>
{% endblock %}