<html>
	<body>
		<center>
		$if cookie().get('username')=='admin':
			<h1 style="margin-top:110px;">添加关键字</h1>
			<table>
			<form action="" method="post">
					<tr>
						<td>
							<label for="txtname">添加的关键字规则：</label>
							<input type="text" id="txtkey" name="newkeyword" placeholder="关键字" size="20" required="true"/>
						</td>
					</tr>
					<tr>
						<td>
							<label for="txtoption">是否邮件报警：</label>
							<label for="txtoption">是:</label>
							<input type="radio" id="op1" name="alert_mail" value="1"/>
							<label for="txtoption">否:</label>
							<input type="radio" id="op2" name="alert_mail" value="0"/>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<input type="submit" value="添加"/>
							<input type="reset" value="清除"/>
			</form>
							<a href="/keyword" mce_href="keyword"><input type="button" value="返回"></a>
						</td>
					</tr>
				</table>
		$else:
			您没有权限访问此页面!<a href="/" mce_href=""><input type="button" value="返回"></a>
		</center>
	</body>
</html>