$def with (posts,refunc)
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script>
			function disclick(){
				document.getElementByIdx("chat").disabled=true;
				alert("聊天服务器启动！");
			}
		</script>
	</head>
	<body>
		<center>
		<h1 style="margin-top:110px;">后台管理界面</h1><br/>
		$if cookie().get('username')=='admin':
			管理员选项:&nbsp;<a href="/logout" mce_href="logout"><input type="button" value="退出登录"></a>
			<a href="/changeadmin" mce_href="changeadmin"><input type="button" value="修改密码"></a><br/><br/>
			<a href="/networm" mce_href="networm"><input type="button" value="启动爬虫(百度贴吧)"></a>
			<a href="/networm_plus" mce_href="networm_plus"><input type="button" value="启动爬虫(Scrapy)"></a>
			<a href="/chatstart" mce_href="chatstart"><input type="button" id="chat" value="启动聊天服务器" onclick="disclick()"></a>
			<a href="/exitserver" mce_href="exitserver"><input type="button" value="停止网站服务器并退出" onclick="window.close();"></a><br/><br/>
			$for post in posts:
				<table>
					<tr>
						<td>
							作者:<input type="text" name="post_author" value="$post.author" readonly="true" disabled="true" size="15">&nbsp;
							标题:<input type="text" name="post_title" value="$post.title" readonly="true" disabled="true" size="40">
						</td>
					</tr>
					<tr>
						<td><textarea id="txtname" name="post_text" rows=8 cols=60 readonly="true"/>$refunc.multiple_replace(post.content)</textarea></td>
					</tr>
					<tr>
						<td>发表时间:$post.posted_on</td>
					</tr>
					<tr>
						<td>
							<a href="/edit/$post.id" mce_href="edit/$post.id"><input type="button" value="编辑留言"></a>
							<a href="/delete/$post.id" mce_href="delete/$post.id"><input type="button" value="删除留言"></a>
						</td>
					</tr>
				</table>
				<br/><br/>
		$else:
			您没有权限访问此页面!<a href="/" mce_href=""><input type="button" value="返回"></a>
		</center>
	</body>
</html>