<html>
	<body>
		<center>
		$if cookie().get('username')=='admin':
			<h1 style="margin-top:90px;">Scrapy爬虫</h1>
			<a href="/change_xml" mce_href="change_xml"><input type="button" value="修改设置(Scrapy)"></a></br>
			爬虫正在准备，按要求输入起始URL，或<a href="/backstage" mce_href="backstage"><input type="button" value="返回"></a>
			<form action="" method="post">
				<table>
					<tr>
						<td>
							<textarea id="starturl" name="starturl" placeholder="请输入想要爬取的网页(不修改设置默认是百度贴吧的url)的url,直接复制即可" size="22" rows=3 cols=40/  required="true"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="完成"/>
							<input type="reset" value="清除"/>
						</td>
					</tr>
				</table>
			</form>
			<p>Note1:爬虫按页抓取发言，每页显示为一条留言</p>
			<p>Note2:页面在爬虫运行结束后会自动跳回主页面，请耐心等待</p>
		$else:
			<p>您未登录，没有权限访问此页面</p>3秒后自动返回主页...
			<script language="javascript" type="text/javascript"> 
				setTimeout("javascript:location.href='/'",3000); 
			</script>
			如果未能正常返回，请按此<a href="/" mce_href=""><input type="button" value="返回主页"></a>
		</center>
	</body>
</html>