<html>
	<body>
		<center>
		$if cookie().get('username'):
			<h1 style="margin-top:110px;">新的留言</h1>
				<form action="" method="post">
					<table>
						<tr>
							<td>
								Author:<input type="text" name="post_author" value="$cookie().get('username')" disabled="true" readonly="true" style="margin-top:20px">
								Title:<input type="text" name="post_title" value="Default" style="margin-top:20px">
							</td>
						</tr>
						<tr>
							<td><textarea id="txtname" name="post_text" rows=20 cols=80 style="margin-top:10px"/></textarea></td>
						</tr>
						<tr>
							<td colspan=2>
								<input type="submit" value="完成留言"/>
								<input type="reset" value="清除"/>
								<button onclick="/index">返回</button>
							</td>
						</tr>
					</table>
				</form>
		$else:
			<p>您未登录，没有权限访问此页面</p>3秒后自动返回主页...
			<script language="javascript" type="text/javascript"> 
				setTimeout("javascript:location.href='/'",3000); 
			</script>
			如果未能正常返回，请按此<a href="/" mce_href=""><input type="button" value="返回主页"></a>
		</center>
	</body>
</html>