<html>
	<body>
		<center>
			<h1 style="margin-top:110px;">账号注册</h1>
			<table style="margin-top:20px">
			<form action="" method="post">
					<tr>
						<td><label for="txtname">请输入您的账号：</label></td>
						<td><input type="text" id="txtname" name="reg_username" placeholder="用户名" size="22" required="true"/></td>
					</tr>
					<tr>
						<td><label for="txtpswd">请输入您的密码：</label></td>
						<td><input type="password" id="txtpswd1" name="reg_password1" placeholder="密码" size="22"/ required="true"></td>
					</tr>
					<tr>
						<td><label for="txtpswd">请再次输入密码：</label></td>
						<td><input type="password" id="txtpswd2" name="reg_password2" placeholder="再次输入密码" size="22" required="true"/></td>
					</tr>
					<tr>
						<td colspan=2>
							<input type="submit" value="完成注册"/>
							<input type="reset" value="清除"/>
			</form>
							<a href="/" mce_href=""><input type="button" value="返回主页"></a>
						</td>
					</tr>
				</table>
		</center>
	</body>
</html>